.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,red);
}
.griv{
    width: 1400px;
    margin: 0 auto;
    max-width: 100%;/* làm 2 phần tử ở 2 bên vẫn giữa nguyên vị trí khi zoom*/
}
.header_navbar{
    display: flex;
    justify-content: space-between;/* hao ul cách xa nhau về 2 phía*/
}
.header_list{
    list-style: none;
    padding-left: 10px;
    

}

.item, .item_link{
    display: inline-block;
    margin-right: 9px;
    font-size: 1rem;
    color: white;
    text-decoration: none;/*Bỏ gạch chân*/
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}
.item:hover, .item_link:hover{
    color: gray;
    cursor: pointer;
    transition: 0.2s;
}
.icon_link{
   color: white;
   margin: 3px;
}
.strong{
   font-weight: 500;
}
.separate::after{
    content: "|"; /* Nội dung thêm vào sau phần tử */
    color: gray;
    margin-left: 10px; /* Khoảng cách từ phần tử đến pseudo-element */
}